name: Automated Data Preprocessing

permissions:
  contents: write

on:
  push:
    branches: [ main ]
    paths:
      - 'preprocessing/automate_*.py'
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    # Checkout repository
    - name: Checkout repository
      uses: actions/checkout@v4

    # Download dataset from GitHub Release
    - name: Download dataset from GitHub Release
      run: |
        echo "Downloading dataset from GitHub Release..."
        FILE_URL="https://github.com/muhammadrisa1/Eksperimen_SML_Muhamad_Risa_Maarif/releases/download/v1.0.0/creditcard_raw.csv"
        FILE_NAME="creditcard_raw.csv"
        wget -q $FILE_URL -O $FILE_NAME
        mv $FILE_NAME preprocessing/

    # Set up Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    # Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn imbalanced-learn

    # Run preprocessing script
    - name: Run preprocessing
      run: |
        cd preprocessing
        python automate_MuhamadRisaMaarif.py

    # Create or update GitHub Release
    - name: Create or update release
      id: create_release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v1.1.0      # ubah sesuai versi release baru
        name: Preprocessed Dataset v1.1.0
        body: "Processed credit card dataset"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # Upload processed files to release
    - name: Upload processed files to release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          preprocessing/creditcard_train_X.csv
          preprocessing/creditcard_train_y.csv
          preprocessing/creditcard_test_X.csv
          preprocessing/creditcard_test_y.csv
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
