name: Automated Data Preprocessing

on:
  push:
    branches: [ main ]
    paths:
      - 'preprocessing/automate_*.py'
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # Download dataset from Google Drive
    - name: Download dataset from Google Drive
      run: |
        echo "Downloading dataset from Google Drive..."
        FILE_ID="17sJmWv-j7IwRZtOJbUX65pCDlujPHVqL"
        FILE_NAME="creditcard_raw.csv"
        wget --no-check-certificate "https://drive.google.com/uc?export=download&id=${FILE_ID}" -O $FILE_NAME
        mv $FILE_NAME preprocessing/
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn imbalanced-learn

    - name: Run preprocessing
      run: |
        cd preprocessing
        python automate_MuhamadRisaMaarif.py

    - name: Upload processed data
      uses: actions/upload-artifact@v3
      with:
        name: processed-data
        path: |
          preprocessing/creditcard_train_X.csv
          preprocessing/creditcard_train_y.csv
          preprocessing/creditcard_test_X.csv
          preprocessing/creditcard_test_y.csv

    - name: Commit processed data
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add preprocessing/*.csv
        git diff --quiet && git diff --staged --quiet || git commit -m "Auto-update: Processed data from workflow"

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
